# Postgres (Railway)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Server Config
PORT=3000
ALLOWED_ORIGINS=http://localhost:4200,https://tu-dominio-produccion.com
NODE_ENV=development